<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
</head>
<body>
<nav th:fragment="nav" class="sticky flex px-3 py-6 text-2xl font-black text-gray-200 w-full border-b shadow-lg shadow-red-400/50 border-red-300 bg-red-800">
    <a class="mr-12" th:href="'/'">Pagrindinis</a>
    <!--<div class="grow"></div>-->
    <a class="px-2" th:href="'/clients/'">Klientai</a>
    <a class="px-2" th:href="'/workouts/'">Treniruotės</a>
    <a class="px-2" th:href="'/registrations/'">Registracijos</a>
    <div class="grow"></div>
    <a sec:authorize="isAuthenticated()" href="/logout">Atsijungti</a>
</nav>
</body>
</html>